.char{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    background: #e3e3e3;
    border-radius: 10px;
    padding: 10px;
    height: 90%;
}

.char-name {
    font-size: 18px;
    font-weight: 600;
}

.char img {
    width: 42px;
    margin-right: 20px;
}

.char span {
    margin-right: 18px;
}

.char > div {
    flex-grow: 1;
}

.char-info {
    display: flex;
}

.swal2-image {
    width: 70px;
}

.swal2-styled.swal2-confirm{
    background-color: #ffea00 !important;
    color: #000000 !important;
    border-color: #ffea00 !important;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 1rem !important;
    line-height: 1.125rem;
    font-weight: 800;
    letter-spacing: 0.025rem;
    padding: 12px 32px 9px;
    border-radius: 4px !important;
    margin-top: 14px;
    margin-bottom: 14px;
    transition: background-color 100ms linear, border-color 100ms linear, box-shadow 100ms linear;
    cursor: pointer !important;
}

@keyframes loader {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

.char .char-loader {
    width: 20px;
    animation-name: loader;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    display: inline;
}

@media(min-width: 900px){
    .char img{
        width: 100px;
    }
}