@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

:root{
    --c0: black;
    --c1: #6b84f3;
    --c2: #f36bb1;
    --c3: #f3a06b;
    --font: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    font-family: var(--font), Arial, Helvetica, sans-serif;
        color: var(--c0);
        background: url(../images/bg.webp);
        background-attachment: fixed;
}

img{
    max-width: 100%;
    height: auto;
}

h1 span {
    font-weight: bold;
}

h1 {
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
}

a{
    color: #CCCCCC;
    text-decoration: underline;
}

a:hover{
    color: white;
    transition: .2s;
}

.container{
    padding: 30px 16px 0 16px;
}

.char{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    background: #e3e3e3;
    border-radius: 10px;
    padding: 10px;
}

.char-name {
    font-size: 18px;
    font-weight: 600;
}

.char img {
    width: 42px;
    margin-right: 20px;
}

.logo {
    margin: 0 auto;
    display: block;
    filter: invert(1);
}

.char span {
    margin-right: 18px;
}

footer{
    text-align: center;
    background-color: black;
    background-image: url(../images/vader.jpg);
    height: 272px;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CCCCCC;
}

footer a {
    margin: 0 7px;
}

@media(min-width: 900px){
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    ul > li {
        flex-basis: 32%;
        width: 32%;
    }
}